

.navbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
  height: 50px;
  background: #FFFFFF;
  padding: 30px 80px 30px 80px;
  margin-bottom: 5%;
}

.logo{
  width: 158px;
  height: 45px;  
}

.top-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.select-container {
  height: 100%;
  display: flex;
  align-items: center;
  border:none;
}

.choose {
  text-decoration: none;
  border: none; 
  background-color: transparent; 
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  outline: none; 
}

.top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.choose{
  text-decoration: none;
}

.btn {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #6b72f5, #44aaed 70%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.2;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: -20px -20px;
}



