/* css */
.offer-card{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(220, 216, 216);
    border-radius: 4%;
    height: 65px;
    margin-bottom: 2%;
    padding: 1%;
}

.plans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscription-duration{
    margin-right: 85px;
}
.pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; /* Vertically distribute content */
    flex-grow: 1;
    padding-right: 10px;
  }
  
  .pricing p {
    margin: 0
  }

.check-box{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid rgb(156, 154, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.offer-card.selected {
    background-color: #D7EDDD;
    border: 2px solid #47BA68;
  }
  
  .offer-card.selected .check-box {
    background-color: #47BA68;
    border: 2px solid #47BA68;
  }
  
  .offer-card .check-box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    margin-right: 10px;
  }
  
  .offer-card.selected .check-box::before {
    content: '\2713'; /* Checkmark character */
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    line-height: 24px;
  }
  